.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;

  // mobile
  @media screen and (min-width: 480px) {
    width: $mobile;
    
  }

  // tablet
  @media screen and (min-width: 768px) {
    width: $tablet;
  
  }

  // desktop
  @media screen and (min-width: 1200px) {
    width: $desktop;

  }
}

.footer__container {
  display: flex;
  align-items: baseline;
  text-align: left;
}
