.footer {
  display: flex;
  align-items: baseline;
  background-color: var(--foorter-hero-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.social__footer {
  margin-left: 70px;
  margin-right: 93px;
}
