.hero {
  background-color: var(--foorter-hero-bg-color);
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bckg.jpg);
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  color: var(--white-color);
  font-size: 26px;
  font-weight: 900;
  line-height: calc(42/26);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 118px;

  

  @media screen and (min-width: #{$desktop - 0.02}) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
      padding-top: 200px;
    }
}
