.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.portfolio__item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);

  transition: box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    display: block;
    box-shadow: var(--portfolio-card-shadow);
  }
}
