.preferences {
  display: flex;
}

.preferences__item {
  width: 270px;
  text-align: left;

  &:not(:last-child) {
    margin-right: var(--card-set-gap);
  }
}

.preferences__background {
  width: 270px;
  height: 120px;
  background-color: var(--section-comand-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.preferences__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.preferences__paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
